@page
@model J3space.Sample.Pages.Index
@{
  ViewData["Title"] = "Home page";
}

<div id="vue">
  <h1>["LongWelcomeMessage"]</h1>

  <a asp-page="/Account/Login">
    <el-button type="primary">["Login"]</el-button>
  </a>
</div>

