@page
@using J3space.Sample.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model J3space.Sample.Pages.Index
@inject IHtmlLocalizer<SampleResource> L
@{
  ViewData["Title"] = "Home page";
}

<div id="vue">
  <h1>@L["LongWelcomeMessage"]</h1>

  <a asp-page="/Account/Login">
    @L["Login"]
  </a>
</div>

